/* .container {
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
} */
/* button {
  margin-left: 2rem;
  margin-top: 1rem;
} */
.chartBox {
  width: 400px;
  margin-top: 2rem;
}
.pieBox {
  width: 350px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}
